<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eihwankim.cordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>mc-mp-cordova</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="com.salesforce.marketingcloud.app_id" value="652cae4d-8724-4e90-bc29-1a86303fe213" />
    <preference name="com.salesforce.marketingcloud.access_token" value="sfvWkj1b0hyybrqkYAUQVOK8" />
    <preference name="com.salesforce.marketingcloud.tenant_specific_endpoint" value="https://mcpththcmp1-ls8tz6vz2ypfzz7q.device.marketingcloudapis.com/" />
    
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>